<script>
    let flag = {
        'member-info': true,
    };
    const dropdownHandler = (params) => {
        let dropdown = document.getElementById(params);
        let open1 = document.getElementById(`${params}-open`);
        let close1 = document.getElementById(`${params}-close`);
        if (!flag.params) {
            dropdown.classList.add("opacity-0");
            dropdown.classList.add("-translate-y-4");
            setTimeout(() => {
                dropdown.classList.add("hidden");
            }, 200);
            open1.classList.add("hidden");
            close1.classList.remove("hidden");
            flag.params = true;
        } else {
            dropdown.classList.remove("hidden");
            setTimeout(() => {
                dropdown.classList.remove("opacity-0");
                dropdown.classList.remove("-translate-y-4");
            }, 200);
            close1.classList.add("hidden");
            open1.classList.remove("hidden");
            flag.params = false;
        }
        console.log(flag.params);
    };
</script>

<div class="p-4">
    <button
        class="focus:outline-none w-full z-100 focus:ring-2 focus:ring-offset-2 -tr focus:ring-gray-500 focus:bg-gray-100 p-4 shadow rounded bg-white text-sm font-medium leading-none text-gray-800 flex items-center justify-between cursor-pointer"
        onclick="dropdownHandler('member-info')">
        Members Information
        <div class="">
            <div class="hidden" id="member-info-close">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00016 0.666664L9.66683 5.33333L0.333496 5.33333L5.00016 0.666664Z" fill="#1F2937" />
                </svg>
            </div>
            <div id="member-info-open">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00016 5.33333L0.333496 0.666664H9.66683L5.00016 5.33333Z" fill="#1F2937" />
                </svg>
            </div>
        </div>
    </button>
    <div class="w-full -z-10 mt-2 p-4 bg-white shadow overflow-x-scroll md:overflow-x-hidden transform transition-all duration-200 rounded"
        id="member-info">

        <!-- list  -->
        <table class="table-auto border-collapse w-full">
            <thead>
                <tr class="rounded-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
                    <th class="px-4 py-2 bg-gray-200 " style="background-color:#f8f8f8">Name</th>
                    <th class="px-4 py-2 bg-gray-200 " style="background-color:#f8f8f8">Member ID</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Contact</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Blood Group</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Members Added</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Total Own Donation</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Total Other Donations</th>
                    <th class="px-4 py-2 " style="background-color:#f8f8f8">Download Complete Excel</th>
                </tr>
            </thead>
            <tbody class="text-sm font-normal text-gray-700">
                <% memberdata.forEach(function(data){ %>
                    <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                        <td class="px-4 py-4">
                            <%-data.name%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.memberID%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.contact%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.bloodGroup%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.addedMembers%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.ownDonations%>
                        </td>
                        <td class="px-4 py-4">
                            <%-data.otherDonations%>
                        </td>
                        <td>
                            <button
                                class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-1 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                Download
                            </button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>
</div>

<script>

</script>