<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%-data.slug%>
    </title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%-include( '../header.ejs' )-%>
        <!-- component -->
        <article class="py-12 px-4">
            <h1 class="text-4xl text-center mb-4 font-semibold uppercase font-heading">
                <%-data.slug%>
            </h1>
            <p class="text-center text-blue-400">
                <span>
                    published <%-data.metadata.date%>
                </span>
            </p>

            <div class="max-w-3xl text-xl mx-auto">
                <%-data.content%>
            </div>
        </article>
        <%-include( '../footer.ejs' )-%>

</body>

</html>