<div class="flex justify-center items-center">
    <h1 class="text-2xl lg:text-6xl md:leading-snug tracking-tighter f-f-l text-red-600">Our Events And Camps</h1>
</div>



<div class="flex items-center justify-center py-8 px-4">
    <div class="max-w-4xl w-full shadow-lg">
        <div class="md:p-8 p-5  bg-white rounded-t">
            <div class="px-4 flex items-center justify-between">
                <span tabindex="0" id="calender__head"
                    class="focus:outline-none  text-base font-bold  text-gray-800">October 2020</span>
                <div class="flex items-center">
                    <button onclick="changecaldown()" aria-label="calendar backward"
                        class="focus:text-gray-400 hover:text-gray-400 text-gray-800 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="15 6 9 12 15 18" />
                        </svg>
                    </button>
                    <button onclick="changecalup()" aria-label="calendar forward"
                        class="focus:text-gray-400 hover:text-gray-400 ml-3 text-gray-800 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler  icon-tabler-chevron-right"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="9 6 15 12 9 18" />
                        </svg>
                    </button>

                </div>
            </div>
            <div class="flex items-center justify-between pt-12 overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Mo</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Tu</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">We</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Th</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Fr</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Sa</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800 ">Su</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="calender__dates">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="md:py-8 py-5 md:px-16 px-5  bg-gray-50 rounded-b">
            <div class="px-4">
                <div class="w-full flex justify-center items-center text-green-600">Upcoming Events</div>
                <%for (let i of data.upcomingEventsData) {%>

                    <div class="border-b mt-2 pb-4 border-gray-400 border-dashed">
                        <p class="uevents-date text-xs font-light leading-3 text-gray-500 ">
                            <%-i.metadata.date%>
                        </p>
                        <a href="/events/<%=i.slug%>" tabindex="0"
                            class="focus:outline-none text-lg font-medium leading-5 text-blue-800  mt-2">
                            <%-i.title%>
                        </a>
                        <div class="text-sm pt-2 leading-4 text-gray-600 ">
                            <%-i.content%>
                        </div>
                    </div>
                    <%}%>
                        <div class="w-full flex justify-center items-center text-red-600">Past Events</div>
                        <%for (let i of data.pastEventsData) {%>

                            <div class="border-b mt-2 pb-4 border-gray-400 border-dashed">
                                <p class="pevents-date text-xs font-light leading-3 text-gray-500 ">
                                    <%-i.metadata.date%>
                                </p>
                                <a href="/events/<%=i.slug%>" tabindex="0"
                                    class="focus:outline-none text-lg font-medium leading-5 text-blue-800  mt-2">
                                    <%-i.title%>
                                </a>
                                <div class="text-sm pt-2 leading-4 text-gray-600 ">
                                    <%-i.content%>
                                </div>
                            </div>
                            <%}%>
            </div>
        </div>
    </div>
</div>

<script src="scripts/dynamiccalender.js"></script>
<script>
    const d = new Date();
    function showCalender(month, uevents, pevents) {
        let monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        const calender = calenderprovider({ month: month });
        document.getElementById('calender__head').innerHTML = `${monthNames[month]} ${d.getFullYear()}`;
        document.getElementById('calender__dates').innerHTML = '';
        calender.forEach(week => {
            const element = document.createElement('tr');
            week.forEach(day => {
                if (day === 0) {
                    console.log('yep');
                    const e =
                        `<td class="pt-6">
                    <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                </td>`;
                    element.innerHTML += e;
                } else {
                    let e =
                        `<td class="pt-6">
                    <div class="px-2 py-2 cursor-pointer flex w-full justify-center">${day}</div>
                </td>`;
                    uevents.forEach(event => {
                        if (month == parseInt(event.slice(5, 7)) - 1 && parseInt(event.slice(8, 10)) === day) {
                            e =
                                `<td class="pt-6">
                    <div class="px-2 py-2 cursor-pointer bg-green-400 rounded-full flex w-full justify-center">${day}</div>
                </td>`;
                        }
                    });
                    pevents.forEach(event => {
                        if (month == parseInt(event.slice(5, 7)) - 1 && parseInt(event.slice(8, 10)) === day) {
                            e =
                                `<td class="pt-6">
                    <div class="px-2 py-2 cursor-pointer bg-red-400 rounded-full flex w-full justify-center">${day}</div>
                </td>`;
                        }
                    });
                    element.innerHTML += e;
                }
            })
            // console.log(element.innerHTML);
            document.getElementById('calender__dates').innerHTML += `<tr>${element.innerHTML}</tr>`;
        });
    };
    const upcomingeventsdate = document.getElementsByClassName('uevents-date');
    const uevents = [];
    console.log(upcomingeventsdate);
    // upcomingeventsdate.forEach(element => {
    //     uevents.push(element.innerText);
    // });
    for (let i = 0; i < upcomingeventsdate.length; i++) {
        uevents.push(upcomingeventsdate[i].innerText);
    }
    const pasteventsdate = document.getElementsByClassName('pevents-date');
    const pevents = [];
    for (let i = 0; i < pasteventsdate.length; i++) {
        pevents.push(pasteventsdate[i].innerText);
    }
    // console.log(uevents, pevents);
    showCalender(d.getMonth(), uevents, pevents);
    let currentmonth = d.getMonth();
    const changecalup = () => {
        if (currentmonth == 11) {
            currentmonth = 11;
        } else {
            currentmonth++;
        }
        showCalender(currentmonth, uevents, pevents);
    }
    const changecaldown = () => {

        if (currentmonth == 0) {
            currentmonth = 0;
        }
        else {
            currentmonth--;
        }
        showCalender(currentmonth, uevents, pevents);
    }

</script>